*{	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;} 
input::-ms-clear{display: none;} 
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, ol, li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    font-family: Rubik;
	font-size: 12px;
    color: #616161;
}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main{
	flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1090px;
    margin: 0 auto;
	/* отступы безопасности при отзывчивости и использовании media : */
	padding: 0 15px;
}

/* For PC */
@media (max-width: 1087px){
	[class*="__container"]{
		max-width: 970px;
	}
}
/* For Tablet: */
@media (max-width: 991.98px){
	[class*="__container"]{
		max-width: 750px;
	}
}
/* For Mobile: */
@media (max-width: 767.98px){
	[class*="__container"]{
		max-width: none;
	}
}

/* Header Sector: ----------------------------------------- */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.header__container {
	display: flex;
	/* header height: */
	min-height: 114px;
	align-items: center;
}

.header__menu {
	flex: 1 1 auto;
}
.menu {
	display: flex;
	justify-content: flex-end;
	padding: 0 40px 0 0;
}
.menu__list {
	display: flex;
}
.menu__item {
	margin: 0 40px 0 0;
}
.menu__link {
	font-family: Raleway;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	line-height: 1.2;
	color: #000;
	letter-spacing: 1px;
}
.menu__link:hover{
	text-decoration: underline;
}

.header__button {
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
@media (max-width: 991.98px){
	.header__button {
		flex: 0 0 170px;
	}
	.menu__item {
		margin: 0 30px 0 0;
	}
	.header__container {
		min-height: 80px;
	}
}
.button {
	display: inline-block;
	font-family: Raleway;
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FCFDFE;
	background: #EC5863;
	border-radius: 5px;
	padding: 14px 30px;
	transition: all 0.3s ease 0s;
}
.button:hover{
	background: #e26b73;
	transition: 0.3s;
}
.button__blue {
	background: #4285F4;
}
.button__blue:hover {
	background: #6492dd;
}
/* ================================================== */

/* Burger ---------------------------------- */
.icon-menu, .close-icon-menu{
	display: none;
	position: relative;
	flex: 0 0 30px;
	height: 18px;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 0 20px;
}
.icon-menu:before, .icon-menu:after{
	content: '';
	background-color: #000;
	height: 2px;
}
.icon-menu span{
	height: 2px;
	background-color: #000;
}

@media (max-width: 767.98px){
	.close-icon-menu:before, .close-icon-menu:after{
	content: '';
	background-color: #000;
	height: 2px;
	}
	.close-icon-menu:before{
		transform: rotate(30deg);
		transform-origin: 0 0;
	}
	.close-icon-menu:after{
		transform: rotate(326deg);
		transform-origin: 0 0;
	}
	.icon-menu, .close-icon-menu{
		display: flex;
	}
	.close-icon-menu{
		display: none;
	}
	.menu__body{
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 90px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
	}
	.header:target .menu__body{
		left: 0;
	}
	.header:target .menu__body:before{
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		height: 80px;
		width: 100%;
		background-color: #fff;
	}
	.menu__link{
		font-size: 22px;
	}
	.menu__item{
		margin: 0 0 25px 0;
	}
	.menu__item:last-child{
		margin-bottom: 0;
	}
	.menu__list{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header__logo, .header__button{
		position: relative;
		z-index: 5;
	}
	.header:target .icon-menu{
		display: none;
	}
	.header:target .close-icon-menu{
		display: flex;
	}
}
@media (max-width: 479.98px){
.header__logo{
	flex: 0 0 40px;
	overflow: hidden;
}
}
/* ====================================================== */

/* Main Sector: -----------------------------------------  */
.family{
	background-color: #FAFBFD;

}
.family__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 150px 15px 50px 15px;
}
.family__content {
	flex: 0 1 48%;
	padding: 0 20px;
}
.family__text-block {
	max-width: 410px;
}

.text-block__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
	color: #000;
}
.text-block__title:not(:last-child){
	margin: 0 0 12px 0;
}
.text-block__title span{
	color: #e26b73;
}
.text-block__title_blue span{
	color: #4285F4;
}
.text-block__text {
	line-height: 138.5%;
}
.text-block__text:not(:last-child){
	margin: 0 0 24px 0;
}
.text-block__button {
}
.family__image {
	flex: 0 1 52%;
}
.family__image img{
	max-width: 100%;
}
.family__video {
	flex: 1 1 100%;
	margin: 60px 0 0 20px;
}
.video-family {
	display: inline-flex;
	align-items: center;
}
.video-family__icon {
	flex: 0 0 44px;
}
.video-family__body {
	padding: 0 0 0 12px;
}
.video-family__title {
	color: #b0b0b0;
	font-size: 13px;
	letter-spacing: 1.5px;
}
.video-family__title:not(:last-child){
	margin: 0 0 7px 0;
}
.video-family__text {
	color: #000;
	font-size: 9px;
	line-height: 126%;
	letter-spacing: 2px;
	text-transform: uppercase;
}
@media (max-width: 767.98px){
	.family__text-block {
		max-width: none;
	}
	.family__content {
		flex: 1 1 100%;
		padding: 0;
	}
	.family__container {
		padding: 100px 15px 30px 15px;
	}
	.family__image {
		flex: 1 1 100%;
		text-align: center;
		padding: 30px 0;
	}
	.family__video {
		margin: 0;
	}
	.text-block__title {
		font-size: 34px;
	}
}

/* ======================================================= */

/* Safe section */

.safe {
	padding: 80px 0;
}
.safe__container {
	display: flex;
}
.safe__content {
	flex: 0 1 50%;
}
.safe__app {
	flex: 0 1 50%;
}
.app-safe {
	padding: 56px 0 27px 0;
	width: 373px;
	text-align: center;
	position: relative;
}
.app-safe__image {
	display: inline-block;
	/* width: 62%; */
}
.app-safe__image img{
	position: relative;
	z-index: 2;
	max-width: 100%;
}
.app-safe__decor {
	position: absolute;
	background-color: #EC5863;
	border-radius: 30px;
	height: 77px;
	width: 77px;
}
.app-safe__decor1 {
	top: 20px;
	left: 0;
	width: 147px;
	height: 147px;
}
.app-safe__decor2 {
	bottom: 20px;
	left: 34px;
}
.app-safe__decor3 {
	bottom: 117px;
	right: 34px;
}

@media (min-width: 991.98px){
	.safe__app {
		padding: 0 0 0 47px;
	}
}
@media (max-width: 767.98px){
	.safe {
		padding: 40px 0;
	}
	.safe__container {
		flex-direction: column-reverse;
	}
	.safe__content {
		margin: 0 0 30px 0;
	}
}
@media (max-width: 479.98px){
	.app-safe {
		width: 290px;
	}
}

/* ================================================================ */

/* Experts Section:  */
.experts {
	background-color: #FAFBFD;
	padding: 103px 0 116px 0;
}
.experts__text-block{
	max-width: 440px;
}
.experts__stats {
	margin: 0 0 80px 0;
}
.stats-experts {
	max-width: 655px;
	margin: 0 auto;
	position: relative;
}
.stats-experts__body {
	background-color: #fff;
	box-shadow: 0 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	position: relative;
	z-index: 2;
	margin: 0 0 80px 0;
}
.body-stats-experts {
	padding: 20px 80px;
	display: flex;
	align-items: center;
}
.body-stats-experts__item {
	flex: 0 1 25%;
	text-align: center;
}
.body-stats-experts__item:last-child{
	flex: 0 1 50%;
}
.body-stats-experts__numbers {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #EC5863;
	margin-bottom: 5px;
}
.body-stats-experts__text {
	font-weight: bold;
	font-size: 11px;
	line-height: 1.8;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #000;
}
.stats-experts__decor {
	position: absolute;
	background-color: #ec5863;
	border-radius: 30px;
}
.stats-experts__decor1 {
	width: 65px;
	height: 65px;
	transform: rotate(-30deg);
	bottom: -21px;
	left: -21px;
	border-radius: 16px;
}
.stats-experts__decor2 {
	width: 97px;
	height: 97px;
	transform: rotate(105deg);
	right: 50%;
	top: -40px;
}
.stats-experts__decor3 {
	width: 127px;
	height: 127px;
	transform: rotate(-30deg);
	right: -60px;
	top: -15px;
}
.experts__body{
	display: flex;
	align-items: center;
}
.experts__content{
	padding: 0 20px 0 0;
	flex: 0 1 50%;
}
.experts__video{
	flex: 0 1 50%;
	position: relative;
	padding: 0 0 24% 0;
	box-shadow: 0 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	overflow: hidden;
}
.experts__video iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

@media (max-width: 767.98px){
	.experts {
		padding: 80px 0 30px 0;
	}
	.experts__body{ 
		flex-direction: column;
		align-items: stretch;
	}
	.experts__video{
		padding: 0 0 58% 0;
	}
	.experts__content{
		padding: 0;
		margin-bottom: 30px;
	}
	.stats-experts__body {
		margin: 0 0 50px 0;
	}
	.body-stats-experts {
		padding: 20px;
	}
}
@media (max-width: 479.98px){
	.body-stats-experts {
		flex-direction: column;
	}
	.body-stats-experts__item:not(:last-child){
		margin: 0 0 15px 0;
}
}
/* ========================================================== */

/* Healthcare section */

.healthcare {
	padding: 80px 0 30px 0;
}
.healthcare__text-block {
	margin: 0 0 45px 0;
}
.text-block__center {
	text-align: center;
}
.text-block__text-width{
	max-width: 620px;
	margin: 0 auto;
}

.healthcare__items {
	display: flex;
	max-width: 980px;
	margin: 0 auto;
	gap: 72px;
}
.healthcare__item {
	flex: 0 1 33.333%;
}
.item-healthcare {
	height: 100%;
	position: relative;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 35px 17px;
}
.item-healthcare__icon {
	margin: 0 0 58px 0;
}
.item-healthcare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 138.5%;
	color: #000;
	margin: 0 0 4px 0;
}
.item-healthcare__text {
	line-height: 138.5%;
}
.item-healthcare_column{
	position: relative;
}
.item-healthcare_1:before, .item-healthcare_1:after{
	content: '';
	position: absolute;
	background-color: #ec5863;
	border-radius: 16px;
}
.item-healthcare_1:before{
	content: '';
	width: 65px;
	height: 65px;
	position: absolute;
	bottom: -35px;
	left: -20px;
	transform: rotate(-30deg);
}
.item-healthcare_1:after{
	content: '';
	width: 97px;
	height: 97px;
	top: 15px;
	right: -50px;
	transform: rotate(20deg);
	border-radius: 30px;
}
.item-healthcare_2:after{
	content: '';
	position: absolute;
	background-color: #ec5863;
	width: 127px;
	height: 127px;
	top: 155px;
	right: -80px;
	transform: rotate(60deg);
	border-radius: 30px;
}
.item-healthcare_3:after{
	content: '';
	position: absolute;
	background-color: #ec5863;
	width: 65px;
	height: 65px;
	bottom: 235px;
	right: -35px;
	transform: rotate(60deg);
	border-radius: 16px;
}

/* ============================================================= */

/* Footer:  */

.footer {
	padding: 45px 0;
}
.footer__container {
	display: flex;
	column-gap: 50px;
	row-gap: 20px;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1087px){
	.item-healthcare_column{
		padding: 0 15px;
	}
}

@media (max-width: 991.98px){
	.healthcare {
		padding: 30px 0 30px 0;
	}
	.healthcare__items {
		flex-direction: column;
	}
	.item-healthcare_column:not(:last-child){
		margin: 0 0 25px 0;
	}
}

@media (max-width: 500px){
	.footer {
		padding: 30px 0;
	}
	.footer__container {
		flex-direction: column;
	}
}
